@import '../../common.scss';

.modal-backdrop {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 1;
    display: flex;
    color: black;
}

.modal-content {
    margin: auto;
    background-color: beige;
    padding: 12px;
    border-radius: 12px;
}